/*General styles*/
body {
	background: #d6d7d8;
}
.col-md-6 {
    padding-left: 0;
}
h2 {
    font-family: Lora,serif;
    font-size: 48px;
    font-weight: bold;
}
h3 {
    font-family: Lora,serif;
}
a, a:hover, a:visited {
    color: #222;
}
p {
    font-family: Georgia,serif;
    font-size: 18px;
}
/*About me styles*/
.about {
    margin: 5vh 0 24px;
}
/*Buttons styles*/
.buttons {
    display: inline-block;
    width:100%;
}
button {
    background-color: #4D1979;
    border: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 700;
    height: 60px;
    margin: 5px 0 24px;
    overflow: visible;
    padding: 5px;
    text-align: center;
    text-align: -webkit-left;
    text-align-last: center;
    text-transform: uppercase;
    width: 100%;
}
.active {
    background-color: #fff;
    color: #4D1979;
}
/*Social list styles*/
.social {
	border-top: 2px solid #000;
	padding: 20px 0 0 0;
}
.social li {
	display: inline-block;
	padding: 0 12px;
}
.social li:not(:first-child) {
	border-left: 2px solid black;
}
.fa {
    margin-right: 6px;
}
@media (max-width: 1025px) {
   .social li {
        display: block;
        margin-bottom: 16px;
    } 
    .social li:not(:first-child) {
        border-left: 0;
    }
}
/*General sections styles*/
.section {
    border-top: 2px solid #000;
    display: none;
    margin-bottom: 32px;
    margin-top: 24px;
    padding-top: 10px;
}
.section a {
    font-weight: bold;
}
.section li {
    font-family: Lato, sans-serif;
}
/*Resume section styles*/
#resume p:not(.copy, .education p) {
    font-weight: bold;
    margin-bottom: 4px;
}
.copy {
   font-size: 16px;
   margin:24px 0;
}
/*Education specific style*/
.education p {
    font-family: Lato, sans-serif;
    font-size: 14px;
    margin-bottom: 1px;
}